:root{
  /* --color1: #404258;
  --color2: #6B728E; */
  --color1: #6C4AB6;
  --color2: #B9E0FF;
  --color3: #9a81e4;
}

section{
  padding: 100px 0;
}

header{
  padding: 150px 0;
  background: url(img/pattern.png), var(--color1);
  background: url(img/pattern.png), -moz-linear-gradient(left top,  var(--color1) 0%, var(--color2) 100%);
  background: url(img/pattern.png), -webkit-linear-gradient(left top,  var(--color1) 0%,var(--color2) 100%);
  background: url(img/pattern.png), linear-gradient(to right bottom,  var(--color1) 0%,var(--color2) 100%);
  background-size: contain;
}

footer{
  background:  var(--color1);
  background: -moz-linear-gradient(right top,  var(--color1) 0%, var(--color2) 100%);
  background:  -webkit-linear-gradient(right top,  var(--color1) 0%,var(--color2) 100%);
  background:  linear-gradient(to left bottom,  var(--color1) 0%,var(--color2) 100%);
}


#btn1, #btn2{
  max-width: 200рх;
  margin: 0 auto;
  padding: 8px 30px;
  color: var(--bs-white);
  background-color: var(--color1);}

#btn1:hover, #btn2:hover{
  color: var(--bs-white);
  background-color: var(--color3);
}

.embed-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color1{
  color: var(--color1);
}

.color2{
  color: var(--color2);
}

.color3{
  color: var(--color3);
}
.why h5{
  padding: 50px;
  border: 3px solid var(--color3);
}

.lnk{
  outline: none;
  text-decoration: none;
  color: var(--color3);
}
footer{
  padding: 15px 0;
}
